body, html, h1, h2, h3, h4, h5, h6 {
    font-weight:200 !important;
    margin-bottom: 0;
}

#nav {
    position:fixed;
    left: -140px;
    top: 0;
    height: 100%;
    width:140px;
    color: white;
    z-index:1;
    transition: all 0.3s ease;
    animation: 1s ease float-in;
}

#nav > ul {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    list-style: none;
}

#nav > ul > li > button {
    color: white;
    border-radius: 0;
}

.btn-link:hover {
    text-decoration: none;
    border-left: solid white 3px;
    border-right: solid var(--primary) 3px;
}

.btn-link:focus {
    text-decoration: none;
    border-left: solid white 3px;
    border-right: solid var(--primary) 3px;
}

#chevron {
    position:absolute;
    right:10px;
    top:13px;
    color: white;
    opacity: 1;
    transition: all 0.3s ease, opacity 0.3s ease-out;
}

#nav:hover {
    left: 0;
}

#nav:hover #chevron, #nav:focus #chevron {
    right: -20px;
    color: var(--primary);
}

#menu-btn{
    position: fixed;
    right: 12px;
    top: 5px;
    z-index:1;
}

.menu-btn {
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    margin: 6px 0;
}

@media screen and (min-width:768px) and (max-width:1200px){
    #nav {
        top:30%;
        left: -110px;
        height:300px;
    }
    #nav:hover, #nav:focus {
        left: 0;
    }
}

@media screen and (min-width:1200px) {
    #nav {
        top:30%;
        left:8%;
        height:300px;
    }
    #nav:hover {
        left: 8%;
    }

    #chevron {
        right: -20px;
        color: var(--primary);
        opacity: 0;
    }
}

#picture {
    border-radius:100%;
    max-height:350px;
    max-width:350px;
    animation: 1s ease-in-out float-in;
}

#name {
    top:-65px;
}

.title {
    position:relative;
    /*left:50%;*/
    /*transform: translateX(-50%);*/
    white-space:nowrap;
    color:black;
    animation: 1s ease-in-out float-in;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    left: -130px;
  }
  100% {
    left: 8%;
  }
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
